@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?t08rl');
    src:    url('../fonts/icomoon.eot?t08rl#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?t08rl') format('truetype'),
        url('../fonts/icomoon.woff?t08rl') format('woff'),
        url('../fonts/icomoon.svg?t08rl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-user:before {
    content: "\e911";
}
.icon-add-user-one:before {
    content: "\e918";
}
.icon-add-user-three:before {
    content: "\e91c";
}
.icon-add-user-two:before {
    content: "\e91d";
}
.icon-Instagram:before {
    content: "\e91e";
}
.icon-contact-add:before {
    content: "\e917";
}
.icon-location:before {
    content: "\e919";
}
.icon-opening-hour:before {
    content: "\e91a";
}
.icon-phone-contact:before {
    content: "\e91b";
}
.icon-clock:before {
    content: "\e912";
}
.icon-facebook:before {
    content: "\e913";
}
.icon-mail:before {
    content: "\e914";
}
.icon-phone:before {
    content: "\e915";
}
.icon-twitter:before {
    content: "\e916";
}
.icon-appoint:before {
    content: "\e900";
}
.icon-award:before {
    content: "\e901";
}
.icon-building:before {
    content: "\e902";
}
.icon-clients:before {
    content: "\e903";
}
.icon-credit:before {
    content: "\e904";
}
.icon-customer:before {
    content: "\e905";
}
.icon-data:before {
    content: "\e906";
}
.icon-hotel:before {
    content: "\e907";
}
.icon-ins:before {
    content: "\e908";
}
.icon-key-basic:before {
    content: "\e909";
}
.icon-office:before {
    content: "\e90a";
}
.icon-phone-call:before {
    content: "\e90b";
}
.icon-progress:before {
    content: "\e90c";
}
.icon-thums-up:before {
    content: "\e90d";
}
.icon-upload:before {
    content: "\e90e";
}
.icon-user:before {
    content: "\e90f";
}
.icon-visa:before {
    content: "\e910";
}

