@charset "utf-8";
/* CSS Document */
@media screen and (min-width:480px){
#mainslider .main{ margin-top:50px;}
#mainslider .main p{ display:block;}
#mainslider .main h1, #mainslider .main h2{ font-size:195%;}
/*Form*/
#form .bottomeffect{ background:url(../image/form_bg.png) no-repeat 49% bottom}
}
@media screen and (min-width:600px)
{
#mainslider .main{ margin-top:150px;}
#mainslider .main h1, #mainslider .main h2{ font-size:200%;}
}
/* This CSS for Tablet*/
@media screen and (min-width:768px) {
/* Header Banner*/			
header{width:95%;}
header .logo{ width:100px; float:left; height:57px;}
header .headpanel{ width:73%; float:left; padding-top:10px}
header .main{ position:absolute; left:0px; top:0px; z-index:999; height:66px;width:100%;}	
header .top{width:95%;}
header .screen{text-transform:uppercase;}
header .screenreader{ float:left; display:block; margin:0; width:auto;}
header .headerright{width:100%; float:left; margin-top:10px;}
header .searchmob{ float:left;}
header .headerright a{ float:left;}
header .headerright a.gapper {margin-left: 19px;margin-right: 19px;}
.abrir_menu span{ right:15px; top:16px;}
/* Footer Banner*/
footer .toparea .leftfoot{ float:left; width:24%;}
footer .toparea .rightfoot{ float:right; width:76%; margin-top:4px;}
footer .toparea .rightfoot li{ float:left; margin-left:3%;}
footer .midpart .mediaarea{ float:left; width:20%;}
footer .midpart .socila a{ margin-bottom:5px;}
footer .midpart .browse{ float:left; width:15%; margin:0px 0 0 5%;}
footer .midpart .browse li{ float:none; width:100%;}
footer .midpart .emailhold{ float:left; width:38%; margin-top:0px;}
footer .midpart .desing{ float:left; width:20%; margin-top:0px;}
#mainslider .main{ margin-top:150px;}
#topimage .main .zinglogo{ display:block;}
#topimage .main .vasundhara {  bottom:-1px; }
/*Form*/
#form .formmain{ width:729px}
#form li{width: 47%; float:left}
#form li:nth-child(2n) { float: right }
#form .namethum input{ width:94%; padding:0 3%}
#form .selectholder li{ float:right; }
#form .selectholder li:first-child{ float:left;}
/* form 2*/
#form .material-form-2 li.subfield .form-group { width:47%; }
#form .material-form-2 li.subfield .last { margin-left:5%;  }
#form .material-form-2 li.subfield .inputout { margin:15px 0 0 0;}
.material-form-2 textarea { width: 95.5%; padding: 12px 2%; }
#form  .material-form-2 label {  font-family: 'ralewayregular'; padding-left:16px;}
/*Projectform*/
.mobimargint40{ margin-top:0}
#postform .material-form-2 li.subfield .last{ text-align:left;}
#postform .material-form-2 li.marginset .last{ margin:15px 0 0 0;}
#form .labelcheck label{margin:0px 0 0 18px;}
}

/* This CSS Small Desktop*/
@media screen and (min-width:1024px) {
/*---Header---*/
#navigator > ul > li:hover > a { color: #ffa344; }
header .searchmob{ display:none;}
header .search{margin:0; float:left;display:block;}
header .main{height:105px;}
header .headerright{ margin-top:0px;}
header .headerright{ float:right;}
header .logo{height:103px; width:183px; float:left; margin:0; padding:0;}
header .logo a {height: 92px; }
header .headpanel{width:763px; margin:0 0 0 25px; padding:0;}
header .top{ float:left; width:100%; padding:13px 0 12px; border-bottom:1px solid #ebebeb;}
header .access{margin: 3px 17px 0 0px;}
header .screen {width: auto; text-transform:uppercase; float:left; margin-right:10px;}
header .headerright{ margin-right:5px;width:auto;}
header .headerright a{margin-top:3px;}
#navigator > ul > li{margin-right:2px; position:relative;}
header .submenuicon{background-position: -237px -1px;height: 8px;left: 5px;position: relative;top:-1px;width: 13px;}
#navigator > ul > li:hover > a .submenuicon{background-position:-237px -11px;}
#menu ul ul li a{ color:#fefefe !important;}
#menu ul ul li a:hover{color:#ffa344 !important ;}
/* Footer Banner*/
footer .toparea .rightfoot{ width:61%;}
footer .toparea .rightfoot li{margin-left:6%;}
footer .midpart .mediaarea{ float:left; width:27%;}
footer .midpart .browse{ float:left; width:18%; margin:0px 0 0 5%;}
footer .midpart .emailhold{ float:left; width:33%; margin-top:0px;}
footer .midpart .desing{ float:left; width:17%; margin-top:0px;}
#mainslider .main{ margin-top:200px;}
#mainslider .main h1, #mainslider .main h2{ font-size:300%;}
#mainslider .main p{ font-size:170%;}
}
/* This CSS Large Desktop*/
@media screen and (min-width:1280px) {
/*---Header---*/
header .headpanel{width:990px; margin:0 0 0 29px;}
#navigator > ul > li {margin-right: 40px;}
/* Home page Tab*/
#Tabhome{ margin-top:-100px;}
#Tabhome .tabcontent .innerpart{ width:18%;}
#Tabhome .tabcontent .leftblock a{ margin:0px;}
#Tabhome .tabcontent .leftblock{ width:49%;}
#Tabhome .tabcontent .leftblock .leftout{ width:67%;}
#Tabhome .tabcontent .midblock{ width:198px;}
#Tabhome .tabcontent .rightblock{ padding:16px 0 15px 22px;}
#Tabhome .tabcontent .rightblock .imgsector{ margin-right:21px;}
#Tabhome .tabcontent .rightblock{ width:46%;}
#Tabhome .tabcontent .innerpart:nth-child(4) { margin-left:0px;}
#letestnews #newslsidermain li h3 { font-size: 112%;  line-height:1.2;}
#upevents .responsive .frstsectn{ margin-top:15px;}
#herobanner .vasundhara, #herobanner .zinglogo{ bottom:98px;}
#mainslider .main{ margin-top:350px;
}
@media screen and (min-width:1600px) {
#projectsmain #projectslider li .firstpart .dittalshow, #projectslider li .secondpart .dittalshow{ bottom:-85%;}
#Tabhome{ margin-top:-140px;}
#Tabhome .vasundhara img{ width:100%; max-width:100%; }
#herobanner .vasundhara,  #herobanner .zinglogo{ bottom:0px;}
#topimage .main .vasundhara { width:auto;}
#mainslider .main{ margin-top:450px;}
#mainslider .main h1, #mainslider .main h2, #mainslider .main p{padding-left:40%;}
}