
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 40px;
}

.relative {
	position: relative;
}



#navigation {
		
	}

#menu-toggle {
	display: none;
	/*float: right;*/
}


@media all and (max-width: 767px) {

	#navigation {
		background:#00f; text-align:left;
		position: absolute; z-index:11120; left:0px; top:20px;
	}

	#menu-toggle {
		display: block; width:20px; height:20px; display:block; background:#f00;
	}

	#main-menu {
		display: none;
		float: none; text-align:left;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: #333;
		border: 1px solid #444;
		display: block;

	}

	#main-menu li > a:hover {
		background-color: #444; 
	}

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}


}


