/*================================================================
 CUSTOM CSS START HERE 
=================================================================*/

body {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	color: rgba(2, 23, 37, 0.7);
	background-color: #efefef;
	font-size: 14px;
	line-height: 1.9em;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

html, body {
	height: 100%;
}
ul, li {
	list-style: none;
}
.color-subpage { background-color:#fff;}
.myvisa-theme { color:#14393b;}
.myvisa-theme small { color:#e45b37; font-size:100%;}


body.overflow-hidden {
	/* when primary navigation is visible, the content in the background won't scroll */
	overflow: hidden;
}
a {
	color: #222;
}
a, a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
	outline: 0;
}
a:hover, a:active, a:visited, a:focus {
	color: #222;
}
img {
	max-width: 100%;
}


/****************************************************************************************
                                        TYPOGRAPHY
*****************************************************************************************/

/* ----------------
    Headings
----------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	margin-top: 0;
	color: #222;
	letter-spacing: normal;
	font-weight: 400;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	color: #1e3f41;
}
h2 { color:#2e9a8b; font-size:25px; line-height:90px; margin:0px; background-color:#f9f9f9; border-bottom:1px solid #dfdfdf; padding-left:40px;
}
h3 {
	font-size: 22px;
	line-height: 30px;
}
h4 {
	font-size: 18px;
	line-height: 26px;
}
h5 {
	font-size: 16px;
	line-height: 24px;
}
h6 {
	font-size: 14px;
	line-height: 20px;
}
p {
	font-size: 14px;
	line-height: 1.9em;
	margin-bottom: 24px;
	cursor: default;
}

p:last-child {
	margin-bottom: 0;
}
p a {
	color: #6dc77a;
	font-weight: 700;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
p a:hover {
	color: #40a74f;
}
p.text-white a {
	color: #fff;
}

.btn-blue-big { height:50px; width:150px; background:#2e9a8b;  border-bottom:2px solid #2e9a8b; font-size:18px; line-height:50px; color:#fff; padding:0px; }
.btn-blue-big:hover { border-bottom:2px solid #248779; color:#fff; }

.btn-blue-large { height:50px; padding:0px 50px; border:none; background:#2e9a8b;  border-bottom:2px solid #2e9a8b; font-size:18px; line-height:50px; color:#fff;  }
.btn-blue-large:hover { border-bottom:2px solid #248779; color:#fff; }

/* -------  Stylish Select menu For LOGIN POPUP  ------- */
#login-salect div.styled {
	width: 167px;
	border: solid 2px #fff;
	padding: 0px;
	margin: 25px auto 10px auto;
	height: 44px; line-height:44px;
}
#login-salect div.styled {
	background: url(../img/select-arrow-login.png) no-repeat center right;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
#login-salect select {
	margin: 0;
	padding: 10px 0px 10px 7px;
	font-size: 15px;
	color: #fff;
	outline: none;
	font-family: inherit;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	box-sizing: border-box;
}
#login-salect select option {
	color: #000; /* Option color */ padding:5px 0px;
}
 

/* For IE and Firefox */
#login-salect div.styled {
	overflow: hidden;
	padding: 0;
}
.ie7 div.styled {
	border: none;
}
#login-salect div.styled select {
	width: 115%;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
}
.ie7 div.styled select {
	width: 100%;
	background-color: #f00;
	border: solid 2px #fff;
	padding: 5px 5px;
}


/* -------  Stylish Select  For STAFF DASHBOURD  ------- */
.select-country-user div.styled {
	width: 200px; float:left;
	border: solid 1px #c6c6c6;
	padding: 0px;
	margin:0px 20px 0px 0px;
	height: 50px; line-height:50px;
 	background: url(../img/select-arrow-dashbourd.png) no-repeat center right;
}
.select-country-user select {
	margin: 0;
	padding: 10px 0px 10px 7px; 
	font-size: 18px;
	color: #c6c6c6;
	outline: none;
	font-family: inherit;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	box-sizing: border-box;
}
.select-country-user select option {
	color: #333333; /* Option color */
}
.select-country-user select:focus {
    outline: none;
}
/* For IE and Firefox */
.select-country-user div.styled {
	overflow: hidden;
	padding: 0;
}
.select-country-user .ie7 div.styled {
	border: none;
}
.select-country-user div.styled select {
	width: 115%;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
}
.select-country-user .ie7 div.styled select {
	width: 100%;
	background-color: #f00;
	border: solid 2px #fff;
	padding: 5px 5px;
}
