
@media only screen and (min-width: 992px) and (max-width: 1199px)
 {
	
/* =============================================================== */
/*   HEADER NAVIGATION SECTION
/* =============================================================== */

.cd-header {
	height: 80px;
	width: 100%;
}

.cd-header.is-fixed {
	top: -80px; 
}


#main-menu {
	line-height:80px; 
}
#main-menu li {
	margin-left: 40px;
}
#main-menu a {
	font-size: 15px;
}


/*****  Header Inside (After Login)  *******/
.header-before { font-size:16px; height:70px; padding:0px;
}
.inside-header { height:80px; line-height:80px; }
.inside-header .logo {
	padding-top: 5px;  
}
/************ AFTER SLIDER SECTION  *****************/
.bannerscollection_zoominout .slider-bottom {
bottom:0px; left:0px; font-size:16px; height:70px; padding:0px; }
.slider-address li span { margin-left:20px;}
.slider-social {padding:16px 0px 0px 0px;}
.slider-social li a {font-size:25px; }
 
/************  SLIDER CAPTION  *****************/
.visacountryname { font-size:40px; line-height:140px !important; height:140px; width:220px; left:-220px; bottom:30px;}
.visacountrycontent {
width:650px; height:150px; }
.visacountrycontent p { font-size:22px; line-height:28px; padding:20px;}

/* =============================================================== */
/*  FEATURED SECTION IN 2 lANG
/* =============================================================== */
.features-section {
	padding:100px 0px 20px 0px;  } 
.features-section h1 {
	padding-bottom: 40px; }
.features-section .featured-content-arb .features-pera-box p { font-size:17px; padding-right:10px; line-height:30px; min-height:310px;}
.features-section .featured-content-eng .features-pera-box p { font-size:17px; padding-left:10px; line-height:24px; min-height:310px;}
.featured-content-eng .features-icon-box strong { font-size:17px; }
.featured-content-eng .features-icon-box .features-content p { line-height:20px;}
.featured-content-eng .features-icon-box .features-icon  { float:left;}
.features-icon-box {
height:90px;
}
.features-icon {
padding:0px 15px;
}


/* =============================================================== */
/*  HOW IT WORKS
/* =============================================================== */
.how-it-works {}
.how-it-works .section {
	padding: 70px 0px;
}

.how-it-works h1 {
	font-size: 35px;
	line-height: 35px;
}
.how-it-works h3 {
	font-size: 21px;
	line-height: 22px;
}

.how-it-works .tab-content p {
	font-size: 17px;
	line-height: 22px;
	padding: 0px  100px;
}
.how-it-works .board .nav-tabs {
	margin: 30px auto;

}
.how-it-works .nav-tabs > li::before {
	width:126px;
	left:-63px;
}
.how-it-works .tab-pane {
	padding-top: 20px;
}

/* =============================================================== */
/*  OUR STATS SECTION 
/* =============================================================== */

.our-stats .section {
	padding:60px 0px;
}
.our-stat-icon { margin-bottom:15px;}
.our-stat-icon .icons {
	font-size: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.our-stat-info span {
	font-size: 50px;
}



/* =============================================================== */
/*   DOWNLOAD PARRALLAX
/* =============================================================== */

.download-app-parrallax {}
.download-app-parrallax .section {
	padding: 100px 0px 50px 0px;
}

.download-app-parrallax .download-big-content {
	font-size: 60px; 
	line-height: 60px;
}
.download-app-parrallax .download-big-content span {
	font-size: 22px;
	line-height: 45px;
}
.download-app-parrallax .download-content p {
	font-size: 17px;
	line-height: 22px;
	padding-right: 50px;
}



/* =============================================================== */
/*  EXCELLENT FEATURES
/* =============================================================== */

.excellent-features .section {
	padding: 60px 0px 350px 0px;
}

.excellent-features .excellent-features-header p {
	font-size: 17px;
	line-height: 22px; padding:0px 30px;
}

.excellent-features-area {
	padding: 40px 0 0;
}
.excellent-features-inner {
	margin-bottom: 20px;
}

.excellent-features-inner .icons {
	font-size: 25px;  
	line-height: 42px; width:46px; height:46px;
	-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
}

.excellent-features-inner h4 {
	font-size: 21px;
	line-height: 46px; padding:0px 0px 0px 0px;
}

/* =============================================================== */
/*   NEED HELP SECTION
/* =============================================================== */

.need-help-parrallax {}
.need-help-parrallax .section {
	padding: 150px 0px;
}

.need-help-parrallax h1 {
	font-size: 40px;
	line-height: 40px;
}
.need-help-parrallax p {
	font-size: 17px;
	line-height: 22px;
	margin: 15px auto;
}

.btns a.btn-getintouch {
	font-size: 22px;
	padding: 15px 35px;
	border-radius: 30px;
}


/* =============================================================== */
/*   NECESSARY DOCUMENTS
/* =============================================================== */

#nesessarydoc .nesessary-doc-heading p { line-height:21px; font-size:17px; margin-top:20px;}
#nesessarydoc h3 {
	font-size: 22px;
	line-height: 22px;
}
 
#nesessarydoc .board { padding-top:60px;}

#nesessarydoc.board .nav-tabs {
	margin: 30px auto;

}

#nesessarydoc .liner::before {
	width: 80%;
	top: 45px;
}

#nesessarydoc span.round-tabs {
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 90px;
	font-size: 32px;
}


#nesessarydoc #myTab { height:150px;}
#nesessarydoc #myTab li { height:150px; }

#nesessarydoc #myTab li strong {
	 font-size:17px; padding-top:90px; 
}
#nesessarydoc #myTab .flags { width:70px; margin:20px 10px; line-height:90px;  }

#nesessarydoc .nav-tabs > li a {
	 width:90px;
}

#nesessarydoc .tab-content .necessary-content-right { padding:25px 0px 0px 25px;}
#nesessarydoc .tab-content .necessary-content-right ul li { font-size:16px; line-height:20px; padding:0px 0px 10px 25px; }
#nesessarydoc .tab-content .necessary-content-right ul li::before { content:" "; position:absolute; left:0px; top:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:10px; height:10px;}

/* =============================================================== */
/*   CONTACT US
/* =============================================================== */

.visa-contact-content { 
 padding:60px 0px 0px 0px;}

.visa-contact-content .section { padding:330px 0px 250px 0px;}
.visa-contact-content .contact-address h6 { margin-top:15px; font-size:17px;}


.visa-contact-content .contact-address .icons {
	font-size: 38px;  
	line-height: 60px; width:60px; height:60px;
	-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

	
.visa-contact-content .contact-address p {
	font-size: 15px;
	line-height: 21px; 
}


/* =============================================================== */
/*   FOOTER SECTION 
/* =============================================================== */

.footer-section {
	padding: 60px 0px;
}
.footer-section .footer-logo {
	margin-bottom: 30px;
}
.footer-section .footer-logo img {
	width: 220px; height:152px;
}

/***** Footer Inside *****/
.footer-inside {
	padding:20px 0px;  
}



/* =============================================================== */
/*************      AFTER LOGIN Section .....
/* =============================================================== */

.privacy {
	padding:30px 0px 50px 0;
}
.privacy h1 { font-size:22px; line-height:80px;  padding-left:30px;
}

.privacy-content {  padding:30px 30px 20px 30px; margin-bottom:20px; font-size:17px;}
.privacy-content p { margin:0px 0px 20px 0px; font-size:17px; }
.privacy-content .privacy-list { padding:0px 0px 0px 12px;}
.privacy-content .privacy-list li { padding:0px 0px 15px 20px;  }

#accordion .panel {padding-bottom:20px;}
#accordion .panel-title a {font-size:17px; line-height:36px;}
#accordion::before {
	left:18px;
}
#accordion .panel-title a .icons  { width:36px; height:36px; line-height:34px; font-size:22px; 
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
 }

/***** /Media end here ******/}

@media only screen and (min-width: 768px) and (max-width: 991px)
 {
	
/* =============================================================== */
/*   HEADER NAVIGATION SECTION
/* =============================================================== */

.cd-header {
	height: 80px;
	width: 100%;
}

.cd-header.is-fixed {
	top: -80px; 
}


#main-menu {
	line-height:80px; 
}
#main-menu li {
	margin-left:20px;
}
#main-menu a {
	font-size: 14px;
}


/*****  Header Inside (After Login)  *******/
.header-before { font-size:16px; height:70px; padding:0px;
}
.inside-header { height:80px; line-height:80px; }
.inside-header .logo {
	padding-top: 5px;  
}
/************ AFTER SLIDER SECTION  *****************/
.bannerscollection_zoominout .slider-bottom {
font-size:16px; height:70px; padding:0px; }
.slider-address li span { margin-left:10px;}
.slider-social {padding:16px 0px 0px 0px;}
.slider-social li a {font-size:25px; }


/************  SLIDER CAPTION  *****************/
.visacountryname { font-size:40px; line-height:140px !important; height:140px; width:220px; left:-220px; top:0px;}
.visacountrycontent {
width:450px; height:210px; }
.visacountrycontent p { font-size:22px; line-height:28px; padding:20px;}

/* =============================================================== */
/*  FEATURED SECTION IN 2 lANG
/* =============================================================== */
.features-section {
	padding:100px 0px 20px 0px; background:#fff !important;  } 
.features-section h1 {
	padding-bottom: 40px; }
.features-section .featured-content-arb .features-pera-box p { font-size:17px; padding-right:10px; line-height:30px; min-height:180px;}
.features-section .featured-content-eng .features-pera-box p { font-size:17px; padding-left:10px; line-height:24px; min-height:230px;}
.featured-content-eng .features-icon-box strong { font-size:17px; }
.featured-content-eng .features-icon-box .features-content p { line-height:20px;}
.featured-content-eng .features-icon-box .features-icon  { float:left;}
.features-section .featured-content-arb .features-icon-box {
height:70px;
}
.features-section .featured-content-eng .features-icon-box {
height:70px;
}
.features-icon {
padding:0px 15px;
}


/* =============================================================== */
/*  HOW IT WORKS
/* =============================================================== */
.how-it-works {}
.how-it-works .section {
	padding: 50px 0px;
}

.how-it-works h1 {
	font-size: 32px;
	line-height: 35px;
}
.how-it-works h3 {
	font-size: 21px;
	line-height: 22px;
}

.how-it-works .tab-content p {
	font-size: 17px;
	line-height: 22px;
	padding: 0px  100px;
}
.how-it-works .board .nav-tabs {
	margin: 20px auto;

}
.how-it-works .nav-tabs > li::before {
	width:80px;
	left:-40px;
}
.how-it-works .tab-pane {
	padding-top: 20px;
}

/* =============================================================== */
/*  OUR STATS SECTION 
/* =============================================================== */

.our-stats .section {
	padding:30px 0px;
}
.our-stats .our-stats-box { margin:15px auto;}
.our-stat-icon { margin-bottom:15px;}
.our-stat-icon .icons {
	font-size: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.our-stat-info span {
	font-size: 50px;
}



/* =============================================================== */
/*   DOWNLOAD PARRALLAX
/* =============================================================== */

.download-app-parrallax {}
.download-app-parrallax .section {
	padding: 10px 0px 50px 50px;
}
.download-app-parrallax .iphone-image { display:none !important;}
.download-app-parrallax .download-big-content {
	font-size: 60px; 
	line-height: 60px;
}
.download-app-parrallax .download-big-content span {
	font-size: 22px;
	line-height: 45px;
}
.download-app-parrallax .download-content p {
	font-size: 17px;
	line-height: 22px;
	padding-right: 50px;
}



/* =============================================================== */
/*  EXCELLENT FEATURES
/* =============================================================== */

.excellent-features .section {
	padding: 60px 0px 350px 0px;
}

.excellent-features .excellent-features-header p {
	font-size: 17px;
	line-height: 22px; padding:0px 30px;
}

.excellent-features-area {
	padding:40px 0px 0px 20px;
}
.excellent-features-inner {
	margin-bottom: 20px;
}

.excellent-features-inner .icons {
	font-size: 25px;  
	line-height: 42px; width:46px; height:46px;
	-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
}

.excellent-features-inner h4 {
	font-size: 21px;
	line-height: 46px; padding:0px 0px 0px 0px;
}

/* =============================================================== */
/*   NEED HELP SECTION
/* =============================================================== */

.need-help-parrallax {}
.need-help-parrallax .section {
	padding: 100px 0px;
}

.need-help-parrallax h1 {
	font-size: 32px;
	line-height: 40px;
}
.need-help-parrallax p {
	font-size: 17px;
	line-height: 22px;
	margin: 15px auto;
}

.btns a.btn-getintouch {
	font-size: 22px;
	padding: 15px 35px;
	border-radius: 30px;
}


/* =============================================================== */
/*   NECESSARY DOCUMENTS
/* =============================================================== */

#nesessarydoc .nesessary-doc-heading p { line-height:21px; font-size:17px; margin-top:20px; padding:0 5%;}
#nesessarydoc h3 {
	font-size: 22px;
	line-height: 22px;
}
 
#nesessarydoc .board { padding-top:30px;}

#nesessarydoc.board .nav-tabs {
	margin: 20px auto;

}

#nesessarydoc .liner::before {
	width: 80%;
	top: 45px;
}

#nesessarydoc span.round-tabs {
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 90px;
	font-size: 32px;
}


#nesessarydoc #myTab { height:150px;}
#nesessarydoc #myTab li { height:150px; }

#nesessarydoc #myTab li strong {
	 font-size:17px; padding-top:90px; 
}
#nesessarydoc #myTab .flags { width:70px; margin:20px 10px; line-height:90px;  }

#nesessarydoc .nav-tabs > li a {
	 width:90px;
}

#nesessarydoc .tab-content .country-img { width:100%; height:100%; float:left; }
#nesessarydoc .tab-content .country-img img { min-width:100%;}
#nesessarydoc .tab-content .country-city-name { top:20px; left:50px;  line-height:50px; height:50px;
font-size:24px; padding:0px 15px; }
#nesessarydoc .tab-content .necessary-content-right { padding:25px 0px 15px 65px;}
#nesessarydoc .tab-content .necessary-content-right ul li { font-size:16px; line-height:20px; padding:0px 0px 10px 25px; }
#nesessarydoc .tab-content .necessary-content-right ul li::before { content:" "; position:absolute; left:0px; top:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:10px; height:10px;}

/* =============================================================== */
/*   CONTACT US
/* =============================================================== */

.visa-contact-content { 
 padding:50px 0px 0px 0px;}
.contact-parrallax {	background-image: url('../img/contact-back2.jpg'); background-color:#fdfdff;}
.visa-contact-content .section { padding:320px 0px 100px 0px;}
.visa-contact-content .contact-address h6 { margin-top:15px; font-size:17px;}

.visa-contact-content .contact-address { margin:10px 0px;}
.visa-contact-content .contact-address .icons {
	font-size: 38px;  
	line-height: 60px; width:60px; height:60px;
	-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

	
.visa-contact-content .contact-address p {
	font-size: 15px;
	line-height: 21px; 
}


/* =============================================================== */
/*   FOOTER SECTION 
/* =============================================================== */

.footer-section {
	padding:40px 0px;
}
.footer-section .footer-logo {
	margin-bottom: 20px;
}
.footer-section .footer-logo img {
	width: 220px; height:152px;
}

/***** Footer Inside *****/
.footer-inside {
	padding:15px 0px;  
}

/* =============================================================== */
/*   LOGIN POPUP
/* =============================================================== */

.login .modal-header {
	font-size: 18px;
	margin: 0 0 15px;

}
.login .modal-dialog {
	width: 700px; height:500px; margin: 100px auto
}

#login-content { width:400px; height:500px; padding:25px;  float:right;}


/* =============================================================== */
/*************      AFTER LOGIN Section .....
/* =============================================================== */

.privacy {
	padding:30px 0px 30px 0;
}
.privacy h1 { font-size:22px; line-height:70px;  padding-left:25px;
}

.privacy-content {  padding:25px 25px 20px 25px; margin-bottom:20px; font-size:17px;}
.privacy-content p { margin:0px 0px 15px 0px; font-size:17px; }
.privacy-content .privacy-list { padding:0px 0px 0px 10px;}
.privacy-content .privacy-list li { padding:0px 0px 15px 20px;  }

#accordion .panel {padding-bottom:20px;}
#accordion .panel-title a {font-size:17px; line-height:36px;}
#accordion::before {
	left:18px;
}
#accordion .panel-title a .icons  { width:36px; height:36px; line-height:34px; font-size:22px; 
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
 }

/***** /Media end here ******/}


@media only screen and (min-width: 500px) and (max-width: 767px) 
{
	
/* =============================================================== */
/*   HEADER NAVIGATION SECTION
/* =============================================================== */

.cd-header {
	height: 80px;
	width: 100%;
}

.cd-header.is-fixed {
	top: -80px; 
}


#main-menu {
	line-height:80px; 
}
#main-menu li {
	margin-left:20px;
}
#main-menu a {
	font-size: 14px;
}


/*****  Header Inside (After Login)  *******/
.header-before { /*****  only for now  *******/ display:none !important; }
.inside-header { height:80px; line-height:80px; }
.inside-header .logo {
	padding-top: 2px;  
}

/************ AFTER SLIDER SECTION  *****************/

.bannerscollection_zoominout .slider-bottom {
/*****  only for now  *******/ display:none !important; }


/************  SLIDER CAPTION  *****************/
.visacountryname { font-size:40px; line-height:140px !important; height:140px; width:220px; left:-220px; top:0px;}
.visacountrycontent {
width:450px; height:210px; }
.visacountrycontent p { font-size:22px; line-height:28px; padding:20px;}

/* =============================================================== */
/*  FEATURED SECTION IN 2 lANG
/* =============================================================== */
.features-section {
	padding:100px 0px 20px 0px; background:#fff !important;  } 
.features-section h1 {
	padding-bottom: 40px; }
.features-section .featured-content-arb .features-pera-box p { font-size:17px; padding-right:10px; line-height:30px; min-height:180px;}
.features-section .featured-content-eng .features-pera-box p { font-size:17px; padding-left:10px; line-height:24px; min-height:230px;}
.featured-content-eng .features-icon-box strong { font-size:17px; }
.featured-content-eng .features-icon-box .features-content p { line-height:20px;}
.featured-content-eng .features-icon-box .features-icon  { float:left;}
.features-section .featured-content-arb .features-icon-box {
height:70px;
}
.features-section .featured-content-eng .features-icon-box {
height:70px;
}
.features-icon {
padding:0px 15px;
}


/* =============================================================== */
/*  HOW IT WORKS
/* =============================================================== */
.how-it-works {}
.how-it-works .section {
	padding: 50px 0px;
}

.how-it-works h1 {
	font-size: 32px;
	line-height: 35px;
}
.how-it-works h3 {
	font-size: 21px;
	line-height: 22px;
}

.how-it-works .tab-content p {
	font-size: 17px;
	line-height: 22px;
	padding: 0px  100px;
}
.how-it-works .board .nav-tabs {
	margin: 20px auto;

}
.how-it-works .nav-tabs > li::before {
	width:80px;
	left:-40px;
}
.how-it-works .tab-pane {
	padding-top: 20px;
}

/* =============================================================== */
/*  OUR STATS SECTION 
/* =============================================================== */

.our-stats .section {
	padding:30px 0px;
}
.our-stats .our-stats-box { margin:15px auto;}
.our-stat-icon { margin-bottom:15px;}
.our-stat-icon .icons {
	font-size: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.our-stat-info span {
	font-size: 50px;
}



/* =============================================================== */
/*   DOWNLOAD PARRALLAX
/* =============================================================== */

.download-app-parrallax {}
.download-app-parrallax .section {
	padding: 10px 0px 50px 50px;
}
.download-app-parrallax .iphone-image { display:none !important;}
.download-app-parrallax .download-big-content {
	font-size: 60px; 
	line-height: 60px;
}
.download-app-parrallax .download-big-content span {
	font-size: 22px;
	line-height: 45px;
}
.download-app-parrallax .download-content p {
	font-size: 17px;
	line-height: 22px;
	padding-right: 50px;
}



/* =============================================================== */
/*  EXCELLENT FEATURES
/* =============================================================== */

.excellent-features .section {
	padding: 60px 0px 350px 0px;
}

.excellent-features .excellent-features-header p {
	font-size: 17px;
	line-height: 22px; padding:0px 30px;
}

.excellent-features-area {
	padding:40px 0px 0px 20px;
}
.excellent-features-inner {
	margin-bottom: 20px;
}

.excellent-features-inner .icons {
	font-size: 25px;  
	line-height: 42px; width:46px; height:46px;
	-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
}

.excellent-features-inner h4 {
	font-size: 21px;
	line-height: 46px; padding:0px 0px 0px 0px;
}

/* =============================================================== */
/*   NEED HELP SECTION
/* =============================================================== */

.need-help-parrallax {}
.need-help-parrallax .section {
	padding: 100px 0px;
}

.need-help-parrallax h1 {
	font-size: 32px;
	line-height: 40px;
}
.need-help-parrallax p {
	font-size: 17px;
	line-height: 22px;
	margin: 15px auto;
}

.btns a.btn-getintouch {
	font-size: 22px;
	padding: 15px 35px;
	border-radius: 30px;
}


/* =============================================================== */
/*   NECESSARY DOCUMENTS
/* =============================================================== */

#nesessarydoc .nesessary-doc-heading p { line-height:21px; font-size:17px; margin-top:20px; padding:0 5%;}
#nesessarydoc h3 {
	font-size: 22px;
	line-height: 22px;
}
 
#nesessarydoc .board { padding-top:30px;}

#nesessarydoc.board .nav-tabs {
	margin: 20px auto;

}

#nesessarydoc .liner::before {
	width: 80%;
	top: 45px;
}

#nesessarydoc span.round-tabs {
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 90px;
	font-size: 32px;
}


#nesessarydoc #myTab { height:150px;}
#nesessarydoc #myTab li { height:150px; }

#nesessarydoc #myTab li strong {
	 font-size:17px; padding-top:90px; 
}
#nesessarydoc #myTab .flags { width:70px; margin:20px 10px; line-height:90px;  }

#nesessarydoc .nav-tabs > li a {
	 width:90px;
}

#nesessarydoc .tab-content .country-img { width:100%; height:100%; float:left; }
#nesessarydoc .tab-content .country-img img { min-width:100%;}
#nesessarydoc .tab-content .country-city-name { top:20px; left:50px;  line-height:50px; height:50px;
font-size:24px; padding:0px 15px; }
#nesessarydoc .tab-content .necessary-content-right { padding:25px 0px 15px 65px;}
#nesessarydoc .tab-content .necessary-content-right ul li { font-size:16px; line-height:20px; padding:0px 0px 10px 25px; }
#nesessarydoc .tab-content .necessary-content-right ul li::before { content:" "; position:absolute; left:0px; top:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:10px; height:10px;}

/* =============================================================== */
/*   CONTACT US
/* =============================================================== */

.visa-contact-content { 
 padding:50px 0px 0px 0px;}
.contact-parrallax {	background-image: url('../img/contact-back2.jpg'); }
.visa-contact-content .section { padding:320px 0px 100px 0px;}
.visa-contact-content .contact-address h6 { margin-top:15px; font-size:17px;}

.visa-contact-content .contact-address { margin:10px 0px;}
.visa-contact-content .contact-address .icons {
	font-size: 38px;  
	line-height: 60px; width:60px; height:60px;
	-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

	
.visa-contact-content .contact-address p {
	font-size: 15px;
	line-height: 21px; 
}


/* =============================================================== */
/*   FOOTER SECTION 
/* =============================================================== */

.footer-section {
	padding:40px 0px;
}
.footer-section .footer-logo {
	margin-bottom: 20px;
}
.footer-section .footer-logo img {
	width: 220px; height:152px;
}

/***** Footer Inside *****/
.footer-inside {
	padding:15px 0px;  
}

/* =============================================================== */
/*************      AFTER LOGIN Section .....
/* =============================================================== */

.privacy {
	padding:30px 0px 30px 0;
}
.privacy h1 { font-size:22px; line-height:70px;  padding-left:25px;
}

.privacy-content {  padding:25px 25px 20px 25px; margin-bottom:20px; font-size:17px;}
.privacy-content p { margin:0px 0px 15px 0px; font-size:17px; }
.privacy-content .privacy-list { padding:0px 0px 0px 10px;}
.privacy-content .privacy-list li { padding:0px 0px 15px 20px;  }

#accordion .panel {padding-bottom:20px;}
#accordion .panel-title a {font-size:17px; line-height:36px;}
#accordion::before {
	left:18px;
}
#accordion .panel-title a .icons  { width:36px; height:36px; line-height:34px; font-size:22px; 
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
 }

/***** /Media end here ******/}


@media only screen and (min-width: 320px) and (max-width: 499px)
{

/***** /Media end here ******/}



