
.bannerscollection_zoominout {
	position:relative;
	line-height:20px;
}
.bannerscollection_zoominout img {
	position:relative;
	display: block;
	max-width:inherit;
	max-height:inherit;
	-webkit-backface-visibility: hidden;
	*max-width:200%;
	*max-height:200%;
}
.bannerscollection_zoominout_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}

.bannerscollection_zoominout .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
	margin-top:0px;
	*margin-top:-20px;
}
.bannerscollection_zoominout .contentHolder {
	position:absolute;
}
.bannerscollection_zoominout .contentHolderUnit {
	display:block;
	overflow:hidden;
}

.mycanvas {
	/*position:absolute;
	top:8px;
	right:10px;
	z-index:10;*/
}

/***opportune SKIN***/

.bannerscollection_zoominout.opportune .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
	margin-top:0px;
}

.bannerscollection_zoominout.opportune .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:20;
	width:100%;
}

.bannerscollection_zoominout.opportune .leftNav {
	position:absolute;
	left:30px;
	width:42px;
	height:42px;
	background:url(../img/slidenav.png) 0px 0px no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .leftNav:hover {
	background:url(../img/slidenav.png) 0px -42px no-repeat;
}
.bannerscollection_zoominout.opportune .rightNav {
	position:absolute;
	right:30px;
	width:42px;
	height:42px;
	background:url(../img/slidenav.png) -42px 0px no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .rightNav:hover {
	background:url(../img/slidenav.png) -42px -42px no-repeat;
}

.bannerscollection_zoominout.opportune .bottomNav { display:none !important;
}
 
.banner_zoominout_texts {
	position:absolute;
	z-index:2;
	display: none;
	width:100%;
}
.bannerscollection_zoominout_text_line {
	position:absolute;
	
}


.textElement12_opportuneFullScreen {
	text-transform:uppercase;
	color:#fff;
}


.textElement21_opportuneFullScreen {
	text-transform:uppercase;
	color:#FFFFFF;
}

.visacountryname { background:#e35b35; font-size:45px; font-weight:700; line-height:170px !important; height:170px;
width:260px; text-align:center; position:absolute; left:-260px; bottom:40px;}
.visacountrycontent {
background-color: rgba(0, 0, 0, 0.70);
color: rgba(0, 0, 0, 0.70);
width:720px; height:160px;  color:#ffffff; text-transform:capitalize; position:relative;
}
.visacountrycontent p { font-size:21px; line-height:30px; margin:0px; padding:20px 25px;}