
/*   IMPORT CSS HERE 
/* =============================================================== */

@import 'reset.css';
@import 'slider.css';
@import 'custom-fonts.css';
@import 'menu.css';
@import 'font-awesome.min.css';
/* =============================================================== */
/*   HEADER NAVIGATION SECTION
/* =============================================================== */

.cd-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	z-index: 3;
}

.bannerscollection_zoominout {
    position: relative;
    background: url("../img/slider/slider-image-01.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

@media only screen and (min-width: 760px) and (max-width: 4499px) {
.cd-header {
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-header.is-fixed {
	/* when the user scrolls down, we hide the header right above the viewport */
	position: fixed;
	top: -90px;
	background: #fff;
	background-color: rgba(255, 255, 255, 1);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-shadow: 0 3px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 0 3px 3px 3px rgba(0,0,0,0.15);
}
.cd-header.is-visible {
	/* if the user changes the scrolling direction, we show the header */
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
}
.logo {
	display: block;
	width: 442px;
	height: 235px;
	padding-top: 20px;
	padding-left: 146px;
	margin-left: -146px;
	background-image: url("../img/logo_back.png");
}
.logo img {
	width: 150px;
	height: 110px;
}
.is-fixed .logo {
	display: block;
	width: 100px;
	height: 73px;
	padding-top: 10px;
	padding-left: 0px;
	margin-left: 0px;
	background-image: none;
}
.is-fixed .logo img {
	width: 100px;
	height: 73px;
}
#main-menu {
	line-height: 90px;
	text-align: right;
}
#main-menu li {
	display: inline-block;
	margin-left: 60px;
}
#main-menu a {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
}
.cd-header #main-menu a {
	color: #fff;
}
.cd-header #main-menu a:hover {
	color: #e35b35
}
.is-fixed #main-menu a {
	color: #1e3f41;
}
.is-fixed #main-menu a:hover {
	color: #e35b35
}
/*****  Header Inside (After Login)  *******/
.header-before {
	background-color: #486264;
	color: #fff;
	width: 100%;
	font-size: 16px;
	height: 38px;
	padding: 0px;
}
.header-before ul {
	margin: 0px;
	padding: 0px;
}
.header-before ul li {
	display: inline-block;
*float:left;
}
.inside-header {
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 90px;
	line-height: 90px;
	-moz-box-shadow: 0 3px 3px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 3px 3px 3px rgba(0,0,0,0.15);
	box-shadow: 0 3px 3px 3px rgba(0,0,0,0.15);
}
.inside-header .logo {
	display: block;
	width: 100px;
	height: 73px;
	padding:0px;
	margin:0px;
	background-image: none;
}
.inside-header .logo img {
	width: 100px;
	height: 73px;
}
.inside-header #main-menu a {
	color: #1e3f41;
}
.inside-header #main-menu a:hover {
	color: #e35b35;
}


/* Bounce Arrow keyframes */

@-webkit-keyframes bounce-arrow {
 0%, 20%, 50%, 80%, 100% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 -ms-transform: translateY(-20px);
 transform: translateY(-20px);
}
 60% {
 -webkit-transform: translateY(-10px);
 -moz-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
}
@-moz-keyframes bounce-arrow {
 0%, 20%, 50%, 80%, 100% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 -ms-transform: translateY(-20px);
 transform: translateY(-20px);
}
 60% {
 -webkit-transform: translateY(-10px);
 -moz-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
}
@-ms-keyframes bounce-arrow {
 0%, 20%, 50%, 80%, 100% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 -ms-transform: translateY(-20px);
 transform: translateY(-20px);
}
 60% {
 -webkit-transform: translateY(-10px);
 -moz-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
}
@keyframes bounce-arrow {
 0%, 20%, 50%, 80%, 100% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 -ms-transform: translateY(-20px);
 transform: translateY(-20px);
}
 60% {
 -webkit-transform: translateY(-10px);
 -moz-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
}
/************ ANIMATED ARROW  *****************/

.scroll-down-anim {
	-webkit-animation: bounce-arrow 2s infinite;
	-moz-animation: bounce-arrow 2s infinite;
	-ms-animation: bounce-arrow 2s infinite;
	animation: bounce-arrow 2s infinite;
	transition-delay: 0.15s;
}
.bannerscollection_zoominout .slider-arrow-down {
	position: absolute;
	margin-top: 30px;
	width: 32px;
	height: 58px;
	left: calc(50% - 16px);
	bottom: 80px;
	color: #FFFFFF;
	z-index: 1010;
}
.bannerscollection_zoominout .slider-arrow-down a {
	background-image: url('../img/slider_arrow.png');
	width: 32px;
	height: 58px;
	display: block;
}
/************ AFTER SLIDER SECTION  *****************/
.bannerscollection_zoominout .slider-bottom {
	background-color: rgba(0, 0, 0, 0.50);
	z-index: 1022;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	font-size: 16px;
	height: 38px;
	padding: 0px;
}
.bannerscollection_zoominout .slider-bottom ul {
	margin: 0px;
	padding: 0px;
}
.bannerscollection_zoominout .slider-bottom ul li {
	display: inline-block;
*float:left;
}
.slider-address li {
	margin-right: 25px;
	padding-top: 6px;
	font-size: 15px;
}
.slider-address li i {
	font-size: 21px; position:relative; top:3px;
	margin-right: 11px;
}
.slider-address li span {
	margin-left: 10px;
}
.slider-social {
	text-align: right;
	margin: 0px;
	padding: 0px;
}
.slider-social li {
	margin-left: 0px;
	line-height: 38px;
}
.slider-social li a {
	font-size: 21px;
	color: #fff;
}
/* =============================================================== */
/*  FEATURED SECTION IN 2 lANG
/* =============================================================== */
.visa-home-content {
	position: relative;
	z-index: 1;
}
.features-section {
	padding: 120px 0px 80px 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+50,ffffff+50,ffffff+100 */
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(left, #f8f8f8 0%, #f8f8f8 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f8f8f8 0%, #f8f8f8 50%, #ffffff 50%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f8f8f8 0%, #f8f8f8 50%, #ffffff 50%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=1 ); /* IE6-9 */
}
.features-section h1 {
	padding-bottom: 60px;
}
.features-section .featured-content-arb .features-pera-box p {
	font-size: 20px;
	color: #474e59;
	padding-right: 20px;
	margin: 0px;
	line-height: 34px;
	font-weight: normal;
	min-height: 300px;
}
.featured-content-arb .features-icon-box .features-icon {
	float: right;
}
.features-section .featured-content-eng .features-pera-box p {
	font-size: 18px;
	color: #474e59;
	padding-left: 20px;
	margin: 0px;
	line-height: 24px;
	font-weight: normal;
	min-height: 300px;
}
.featured-content-eng .features-icon-box strong {
	font-size: 18px;
	color: #2e9a8b;
	display: block;
	font-weight: 700;
}
.featured-content-eng .features-icon-box .features-content p {
	color: #474e59;
	font-size: 14px;
	line-height: 20px;
}
.featured-content-eng .features-icon-box .features-icon {
	float: left;
}
.features-icon-box {
	display: table;
	position: relative;
	padding: 0px;
	height: 80px;
	cursor: pointer;
	width: 100%;
}
.features-icon {
	display: table-cell;
	padding: 0px 20px;
}
.features-section .icons {
	color: #2e9a8b;
	border: 2px solid #2e9a8b;
	font-size: 24px;
	line-height: 45px;
	width: 45px;
	height: 45px;
	font-style: normal;
	background-color: #fff;
	padding: 0px 0px 5px 0px;
	display: block;
	text-align: center;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.features-icon-box:hover .icons {
	color: #fff;
	border: 2px solid #2e9a8b;
	background-color: #2e9a8b;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.features-icon-box h4 {
	color: #000;
}
.features-content {
	display: table-cell;
	vertical-align: top;
	font-size: 14px;
	color: #fff;
}
.features-content p {
	font-size: 14px;
	color: #000;
	margin: 0px;
}
/* =============================================================== */
/*  HOW IT WORKS
/* =============================================================== */

.how-it-works {
	position: relative;
	background-color: transparent;
	background-image: url('../img/how-it-works-back.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.how-it-works .section {
	padding: 80px 0px;
}
.how-it-works .overlay {
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
}
.how-it-works h1 {
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 20px !important;
}
.how-it-works h3 {
	color: #ff8361;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: 700;
	padding-bottom: 20px !important;
}
.how-it-works h3 span {
	border-bottom: 1px solid #ff8361;
	padding-bottom: 2px;
}
.how-it-works .tab-content p {
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	padding: 0px 150px;
}
.how-it-works .board {
}
.how-it-works .board .nav-tabs {
	position: relative;
	margin: 40px auto;
	margin-bottom: 0;
	box-sizing: border-box;
}
.how-it-works .board > div.board-inner > .nav-tabs {
	border: none;
}
.how-it-works p.narrow {
	width: 60%;
	margin: 10px auto;
}
.how-it-works .liner::before {
	height: 2px;
	background: #f00;
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}
.how-it-works .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
	outline: 0;
}
.how-it-works span.round-tabs {
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	border-radius: 100px;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 35px;
}
.how-it-works .nav-tabs > li::before {
	height: 2px;
	content: " ";
	background: #fff;
	position: absolute;
	width: 165px;
	margin-right: 50px;
	left: -83px;
	top: 50%;
	z-index: 1;
}
.how-it-works .nav-tabs > li:first-child:before {
	height: 0px;
	content: none;
	position: relative;
}
.how-it-works li.active span.round-tabs.one, .how-it-works li.active span.round-tabs.two, .how-it-works li.active span.round-tabs.three, .how-it-works li.active span.round-tabs.four, .how-it-works li.active span.round-tabs.five {
	color: #fff;
}
.how-it-works span.round-tabs.one, .how-it-works span.round-tabs.two, .how-it-works span.round-tabs.three, .how-it-works span.round-tabs.four, .how-it-works span.round-tabs.five {
	border: 2px solid #fff;
	color: #fff;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.how-it-works .nav-tabs > li.active > a span.round-tabs {
	background: #ff8361;
	border: 2px solid #ff8361;
}
.how-it-works .nav-tabs > li:hover > a span.round-tabs {
	background: #ff8361;
	border: 2px solid #ff8361;
}
.how-it-works .nav-tabs > li {
	width: 20%;
	position: relative;
}
.how-it-works .nav-tabs > li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	border: none;
	padding: 0;
}
.how-it-works .nav-tabs > li a:hover {
	background: transparent;
	border: none;
}
.how-it-works .tab-content {
}
.how-it-works .tab-pane {
	position: relative;
	padding-top: 50px;
}
/* =============================================================== */
/*  OUR STATS SECTION 
/* =============================================================== */

.our-stats {
	background: #2e9a8b;
}
.our-stats .section {
	padding: 80px 0px;
}
.our-stat-icon {
	margin-bottom: 20px;
}
.our-stat-icon .icons {
	font-size: 58px;
	width: 60px;
	height: 60px;
	color: #fff;
	line-height: 60px;
}
.our-stat-info span {
	color: #fff;
	font-size: 60px;
	margin: 1em 0;
	line-height: 60px;
}
.our-stat-info h5 {
	color: #fff;
	line-height: normal;
	font-size: 18px;
	margin: 5px 0px 0px 0px;
}
/* =============================================================== */
/*   DOWNLOAD PARRALLAX
/* =============================================================== */

.download-app-parrallax {
	position: relative;
	background-color: transparent;
	background-image: url('../img/download-app.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.download-app-parrallax .section {
	padding: 170px 0px 70px 0px;
}
.download-app-parrallax h1 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	padding-bottom: 20px !important;
}
.download-app-parrallax .download-big-content {
	font-size: 75px;
	padding-top: 40px;
	line-height: 75px;
	color: #e35b35;
	font-weight: 900;
	text-transform: uppercase;
}
.download-app-parrallax .download-big-content span {
	font-size: 24px;
	color: #060606;
	line-height: 50px;
	display: block;
}
.download-app-parrallax .download-content p {
	font-size: 18px;
	color: #060606;
	line-height: 24px;
	padding-right: 100px;
	margin: 15px 0px 30px 0px;
}
.download-app-parrallax .download-content .btn {
	padding: 10px 15px;
	min-width: 221px;
	margin-right: 15px;
	color: #fff;
	font-size: 14px;
	border: none;
	display: inline-block;
	position: relative;
	padding-left: 60px;
	line-height: 20px;
	text-decoration: none;
	text-align: left;
}
.download-app-parrallax .download-content .btn:last-child {
	margin-right: 0px;
}
.download-app-parrallax .download-content .btn .icon {
	position: absolute;
	left: 5px;
	top: 8px;
	width: 50px;
	height: 50px;
	display: block;
}
.download-app-parrallax .download-content .btn .icon.apple_icon {
	background: url(../img/app_play_large.png) 0 0 no-repeat;
}
.download-app-parrallax .download-content .btn_app_play:before {
	background: #29282b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.download-app-parrallax .download-content .btn_app_play {
	background: #e35b35;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.download-app-parrallax a span {
	text-transform: uppercase;
	color: #fff;
	line-height: 17px;
	clear: both;
	display: block;
	margin-bottom: 5px;
}
.download-app-parrallax a b {
	font-size: 25px;
}
.download-app-parrallax .download-content .btn .icon.google_play_icon {
	background: url(../img/google_play_large.png) 0 0 no-repeat;
}
.download-app-parrallax .download-content .btn_google_play:before {
	background: #f3f3f3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.download-app-parrallax .download-content .btn_google_play {
	background: #29282b;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.download-app-parrallax a.btn_google_play span {
	color: #242424;
}
.download-app-parrallax a.btn_google_play b {
	color: #2cafa2;
}
.download-app-parrallax a.btn_google_play:hover span {
	color: #fff;
}
/* Shutter In Vertical  */
.btn-shutter {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	background: #f00;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-shutter:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-shutter:hover, .btn-shutter:focus, .btn-shutter:active {
	color: white;
}
.btn-shutter:hover:before, .btn-shutter:focus:before, .btn-shutter:active:before {
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}
/* =============================================================== */
/*  EXCELLENT FEATURES
/* =============================================================== */

.excellent-features {
	position: relative;
	background-color: #fff;
	background-image: url('../img/features-back.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
}
.excellent-features .section {
	padding: 80px 0px 450px 0px;
}
.excellent-features .excellent-features-header p {
	color: #828282;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	padding: 0px 50px;
}
.excellent-features-area {
	padding: 40px 0 0;
}
.excellent-features-inner {
	margin-bottom: 20px;
}
.excellent-features-inner {
	width: 100%;
	clear: both;
}
.excellent-features-inner span {
}
.excellent-features-inner .icons {
	color: #2e9a8b;
	border: 2px solid #2e9a8b;
	font-size: 27px;
	line-height: 46px;
	width: 50px;
	height: 50px;
	font-style: normal;
	padding: 0px;
	display: block;
	text-align: center;
	position: relative;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.excellent-features-inner:hover .icons {
	color: #fff;
	border: 2px solid #2e9a8b;
	background-color: #2e9a8b;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.excellent-features-inner h4 {
	font-size: 24px;
	color: #1e3f41;
	line-height: 50px;
	margin: 0px;
	padding: 0px 0px 0px 25px;
}
/* =============================================================== */
/*   NEED HELP SECTION
/* =============================================================== */

.need-help-parrallax {
	position: relative;
	background-color: transparent;
	background-image: url('../img/need-help.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.need-help-parrallax .section {
	padding: 190px 0px;
}
.need-help-parrallax .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
}
.need-help-parrallax h1 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	padding-bottom: 20px !important;
}
.need-help-parrallax p {
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin: 20px auto;
}
.need-help-parrallax .btns {
	padding-top: 10px;
}
.need-help-parrallax .btns a {
	display: inline-block;
}
.btns a.btn-getintouch {
	font-size: 24px;
	text-align: center;
	color: #fff;
	padding: 18px 40px;
	border: none;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	box-shadow: none;
	background-color: #2e9a8b;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
}
.btns a.btn-getintouch:hover {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	background-color: #e35b35;
}
/* =============================================================== */
/*   NECESSARY DOCUMENTS
/* =============================================================== */

#nesessarydoc {
}
#nesessarydoc .section {
	padding: 0px;
}
#nesessarydoc .nesessary-doc-heading p {
	line-height: 22px;
	font-size: 18px;
	color: #828282;
	margin-top: 25px;
	padding: 0 10%;
}
#nesessarydoc h3 {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: 400;
	padding-bottom: 0px !important;
}
#nesessarydoc h3 span {
	border-bottom: 2px solid #fff;
	padding-bottom: 0px;
}
#nesessarydoc .board {
	padding-top: 60px;
}
#nesessarydoc.board .nav-tabs {
	position: relative;
	margin: 40px auto;
	margin-bottom: 0;
	box-sizing: border-box;
}
#nesessarydoc .board > div.board-inner > .nav-tabs {
	border: none;
}
#nesessarydoc p.narrow {
	width: 60%;
	margin: 10px auto;
}
#nesessarydoc .liner::before {
	height: 2px;
	background: #acacac;
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50px;
	z-index: 1;
}
#nesessarydoc .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
	outline: 0;
}
#nesessarydoc span.round-tabs {
	width: 100px;
	height: 100px;
	line-height: 100px;
	display: inline-block;
	border-radius: 100px;
	z-index: 50;
	position: relative;
	left: 0;
	text-align: center;
	font-size: 35px;
}
#nesessarydoc #myTab {
	margin-top: 20px;
	height: 175px;
}
#nesessarydoc #myTab li {
	text-align: center;
	position: relative;
	height: 175px;
}
#nesessarydoc #myTab li.active::before {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #e35b35;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -12px;
	display: block;
	z-index: 55;
	content: " ";
}
#nesessarydoc #myTab li strong {
	color: #1e3f41;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	padding-top: 100px;
	font-weight: normal;
}
#nesessarydoc #myTab li:hover strong {
	color: #e35b35;
}
#nesessarydoc #myTab li.active strong {
	color: #e35b35;
}
#nesessarydoc #myTab .flags {
	width: 70px;
	margin: 25px 15px;
	height: 50px;
	line-height: 100px;
	text-align: center;
	display: block;
}
#nesessarydoc #myTab li .flag-01 {
	background: url(../img/country-flag.png) 0px 0px;
}
#nesessarydoc #myTab li.active .flag-01 {
	background: url(../img/country-flag.png) 0px -50px;
}
#nesessarydoc #myTab li:hover .flag-01 {
	background: url(../img/country-flag.png) 0px -50px;
}
#nesessarydoc #myTab li .flag-02 {
	background: url(../img/country-flag.png) -70px 0px;
}
#nesessarydoc #myTab li.active .flag-02 {
	background: url(../img/country-flag.png) -70px -50px;
}
#nesessarydoc #myTab li:hover .flag-02 {
	background: url(../img/country-flag.png) -70px -50px;
}
#nesessarydoc #myTab li .flag-03 {
	background: url(../img/country-flag.png) -140px 0px;
}
#nesessarydoc #myTab li.active .flag-03 {
	background: url(../img/country-flag.png) -140px -50px;
}
#nesessarydoc #myTab li:hover .flag-03 {
	background: url(../img/country-flag.png) -140px -50px;
}
#nesessarydoc #myTab li .flag-04 {
	background: url(../img/country-flag.png) -210px 0px;
}
#nesessarydoc #myTab li.active .flag-04 {
	background: url(../img/country-flag.png) -210px -50px;
}
#nesessarydoc #myTab li:hover .flag-04 {
	background: url(../img/country-flag.png) -210px -50px;
}
#nesessarydoc #myTab li .flag-05 {
	background: url(../img/country-flag.png) -280px 0px;
}
#nesessarydoc #myTab li.active .flag-05 {
	background: url(../img/country-flag.png) -280px -50px;
}
#nesessarydoc #myTab li:hover .flag-05 {
	background: url(../img/country-flag.png) -280px -50px;
}
#nesessarydoc span.round-tabs.one, #nesessarydoc span.round-tabs.two, #nesessarydoc span.round-tabs.three, #nesessarydoc span.round-tabs.four, #nesessarydoc span.round-tabs.five {
	border: 2px solid #acacac;
	background-color: #fff;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
#nesessarydoc .nav-tabs > li.active > a span.round-tabs {
	background: #e35b35;
	border: 2px solid #e35b35;
}
#nesessarydoc .nav-tabs > li:hover > a span.round-tabs {
	background: #e35b35;
	border: 2px solid #e35b35;
}
#nesessarydoc .nav-tabs > li {
	width: 20%;
	position: relative;
}
#nesessarydoc .nav-tabs > li a {
	margin: 0px auto;
	width: 100px;
	border-radius: 100%;
	border: none;
	padding: 0px;
}
#nesessarydoc .nav-tabs > li a:hover {
	background: transparent;
	border: none;
}
#nesessarydoc .tab-content {
	background: #e35b35;
}
#nesessarydoc .tab-content .country-img {
	width: 50%;
	height: 100%;
	float: left;
}
#nesessarydoc .tab-content .country-city-name {
	position: absolute;
	bottom: 20px;
	left: 50px;
	background: #e35b35;
	line-height: 60px;
	font-size: 30px;
	padding: 0px 20px;
	color: #fff;
}
#nesessarydoc .tab-content .necessary-content-right {
	padding: 45px 0px 0px 40px;
}
#nesessarydoc .tab-content .necessary-content-right ul {
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
#nesessarydoc .tab-content .necessary-content-right ul li {
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	padding: 0px 0px 15px 32px;
	position: relative;
}
#nesessarydoc .tab-content .necessary-content-right ul li::before {
	content: " ";
	position: absolute;
	left: 0px;
	top: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
}
#nesessarydoc .tab-content .necessary-content-right ul li:hover::before {
	background: #fff;
}
#nesessarydoc .tab-pane {
	position: relative;
	padding: 0px;
	margin: 0px;
}
/* =============================================================== */
/*   CONTACT US
/* =============================================================== */

.visa-contact-content {
	padding: 80px 0px 0px 0px;
}
.contact-parrallax {
	background-image: url('../img/contact-back.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}
.visa-contact-content .section {
	padding: 340px 0px 300px 0px;
}
.visa-contact-content h1 {
	text-align: center;
}
.visa-contact-content .contact-address h6 {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: #2e9a8b;
	font-weight: 700;
	text-transform: uppercase;
}
.visa-contact-content .contact-address .icons {
	color: #2e9a8b;
	border: 2px solid #2e9a8b;
	font-size: 40px;
	line-height: 70px;
	width: 70px;
	height: 70px;
	font-style: normal;
	background-color: #fff;
	padding: 0px;
	display: block;
	text-align: center;
	margin: 0px auto;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}
.visa-contact-content .contact-address:hover .icons {
	color: #fff;
	border: 2px solid #2e9a8b;
	background-color: #2e9a8b;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.visa-contact-content .contact-address p {
	color: #828282;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
/* =============================================================== */
/*   FOOTER SECTION 
/* =============================================================== */

.footer-section {
	background-color: #eaeaea;
	padding: 80px 0px;
}
.footer-section .footer-logo {
	text-align: center;
	margin-bottom: 35px;
}
.footer-section .footer-logo img {
	width: 260px;
	height: 180px;
}
.footer-section .copyright-info p {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #14393b;
}
/***** Footer Inside *****/

.footer-inside {
	background-color: #626e71;
	padding: 25px 0px;
}
.footer-inside .copyright-info p {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #fff;
}
.scrollup {
	border-radius: 4px;
	bottom: 100px;
	display: none;
	font-size: 20px;
	height: 50px;
	opacity: 0.8;
	position: fixed;
	right: 15px;
	text-align: center;
	width: 50px;
	z-index: 9999;
}
.scrollup i {
	line-height: 48px;
}
/* =============================================================== */
/*   LOGIN POPUP
/* =============================================================== */

.login .modal-header {
	border: 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
.login .modal-dialog {
	width: 800px;
	height: 500px;
	margin: 90px auto
}
.modal-content {
	box-shadow: none;
	background: #fff;
	background-image: url('../img/login_back.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.modal-body {
	height: 500px;
	padding: 0px;
	margin: 0px;
}
#modals #login-salect {
	width: 300px;
	height: 500px;
	padding: 160px 0px 0px 0px;
	margin: 0px;
	float: left;
}
#modals #login-salect label {
	font-size: 100px;
	font-weight: 900px;
	color: #fff;
	display: block;
	text-align: center;
}

/*****************************************************************************************  Stylish input  *************/
.modal-body .FlowupLabels .fl_wrap {
	height: auto;
	margin: 0 auto 40px;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-body .FlowupLabels .fl_wrap .icon, .modal-body .FlowupLabels .call_area .icon {
	position: absolute;
	left: 0;
	font-size: 32px;
	top: 10px;
	color: #a0a0a0;
}
.modal-body .FlowupLabels .fl_label, .modal-body .FlowupLabels .call_area .fl_label {
	top: 10px;
	color: #a0a0a0;
	font-weight: normal;
	cursor: text;
	position: absolute;
	z-index: 3;
	-webkit-transition: all .05s linear;
	-moz-transition: all .05s linear;
	-transition: all .05s linear;
	pointer-events: none;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.modal-body .FlowupLabels .call_area {
	position: relative;
	text-transform: none;
}
.modal-body .FlowupLabels .call_area .call_mobile, .modal-body .FlowupLabels .call_area .call_mobile .fl_label {
	padding-left: 0;
	left: 0;
}
.modal-body .FlowupLabels .fl_input {
	background: none;
	border: none;
	border-bottom: 1px solid #dcdcdc;
	font-weight: 400;
	border-radius: 0;
	font-size: 18px;
	line-height: 22px;
	padding: 20px 0 0 0px;
	outline: none;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: none;
	color: #a0a0a0;
}
.modal-body .FlowupLabels .fl_wrap.focused .fl_label, .modal-body .FlowupLabels .fl_wrap.populated .fl_label, .modal-body .no-js .FlowupLabels .fl_label {
	top: 0;
	font-size: 13px;
	color: #f00;
}
/* .modal-body .FlowupLabels .fl_wrap.focused .fl_label{Can change 
  color:#f00;}*/
.modal-body #guestuser .fl_wrap.focused .fl_label {/* Can change */
	color: #e35b35;
}
.modal-body #staffuser .fl_wrap.focused .fl_label {/* Can change */
	color: #2e9a8b;
}
#login-content {
	width: 500px;
	height: 500px;
	padding: 30px 40px;
	float: right;
}
#login-content .login-title {
	line-height: 48px;
	font-size: 20px;
	font-weight: normal;
	background-position: left;
	padding-left: 60px;
	background-repeat: no-repeat;
}
#login-content .login-close {
	background-color: #fff;
	background-image: url('../img/login_close.png');
	background-position: 0px 0px;
	width: 30px;
	height: 30px;
	display: block;
	background-repeat: no-repeat;
	border: none !important;
	position: absolute;
	right: 30px;
	top: 30px;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
#login-content .login-close:hover {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
#login-content #guestuser .login-title {
	color: #e35b35;
	background-image: url('../img/login_icon01.png');
	margin-bottom: 60px;
}
#login-content #staffuser .login-title {
	color: #2e9a8b;
	background-image: url('../img/login_icon02.png');
	margin-bottom: 70px;
}
#login-content .login-but {
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: none;
	padding: 0px;
	text-transform: uppercase;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#login-content #guestuser .login-but {
	background: #e35b35;
}
#login-content #guestuser .login-but:hover {
	background: #c74926;
}
#login-content #staffuser .login-but {
	background: #2e9a8b;
}
#login-content #staffuser .login-but:hover {
	background: #1a7b6d;
}
/* =============================================================== */
/*************      AFTERLOGIN Privacy and Terms Page ....
/* =============================================================== */

.privacy {
	padding: 35px 0px 60px 0;
}
.privacy a {
	color: #e35b35;
	font-weight: normal;
}
.privacy a:hover {
	color: #585858;
}
.privacy-content {
	background: #fff;
	width: 100%;
	padding: 40px 40px 20px 40px;
	margin-bottom: 30px;
	color: #828282;
	font-size: 18px;
	line-height: normal;
}
.privacy-content p {
	margin: 0px 0px 30px 0px;
	padding: 0px;
	color: #828282;
	font-size: 18px;
	line-height: normal;
	font-weight: 400;
}
.privacy-content .privacy-list {
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.privacy-content .privacy-list li {
	margin: 0px;
	padding: 0px 0px 20px 25px;
	position: relative;
}
.privacy-content .privacy-list li:before {
	height: 8px;
	background: #c7c5c5;
	position: absolute;
	content: " ";
	width: 8px;
	left: 0px;
	top: 8px;
	z-index: 2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#accordion {
	position: relative;
	margin: 0px;
	padding: 0px;
}
#accordion::before {
	height: 100%;
	background: #efefef;
	position: absolute;
	content: " ";
	width: 2px;
	margin: 0px;
	left: 20px;
	top: 0px;
	z-index: 2;
}
#accordion .panel-heading {
	z-index: 888;
	position: relative;
}
#accordion .panel {
	padding-bottom: 30px;
}
#accordion .panel:last-child {
	padding-bottom: 0px;
}
#accordion .panel-body {
	padding: 10px 0px 0px 50px;
}
#accordion .panel-body p {
	margin: 0px 0px 20px 0px;
}
#accordion .panel .active .panel-title a {
	color: #2e9a8b;
}
#accordion .panel-title a {
	color: #c7c5c5;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
}
#accordion .panel-title a:hover {
	color: #2e9a8b;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
}
#accordion .panel-title a .icons {
	width: 40px;
	height: 40px;
	line-height: 34px;
	text-align: center;
	display: block;
	font-size: 25px;
	border: 2px solid #c7c5c5;
	background-color: #fff;
	color: #c7c5c5;
	margin-right: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
}
#accordion .panel-title a:hover .icons {
	border: 2px solid #2e9a8b;
	color: #2e9a8b;
}
#accordion .active .panel-title a .icons {
	border: 2px solid #2e9a8b;
	color: #2e9a8b;
}

/* =============================================================== */
/*************      STAFF SECTION ( After Login Section )
/* =============================================================== */

.staff-dashbourd { padding: 35px 0px 60px 0; }
.staff-dashbourd-content { background:#fff; padding:40px 110px 0px 90px; width:100%; float:left;}
.staff-dashbourd-img { float:left;}
.staff-dashbourd-right { width:440px; margin:75px 0px 0px 0px; float:right; position:relative;}
.staff-dashbourd-right::before { position:absolute; left:-40px; top:0px; height:90%; text-align:center; width:1px; content:" "; display:block; color:#fff; background:#c6c6c6; }

.staff-add-user { position:relative;}
.staff-add-user::before { position:absolute; left:-55px; top:0px; height:30px; line-height:28px; font-size:20px; text-align:center; width:30px; content:"1"; display:block; color:#fff; background:#2e9a8b;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;

}
.staff-add-user .input-group { background:#fff; border:1px solid #efefef; width:440px; margin:0px 0px 20px 0px; padding:0px;}
.staff-add-user .input-group input { border:none !important; background:#fff; height:48px; line-height:48px; color:#828282; font-size:18px; width:390px; padding-left:20px; float:left;}
.staff-add-user .input-group .icon { font-size:28px; height:48px; display:block; float:right; line-height:48px; width:48px; text-align:center; color:#efefef;}
 
.select-country-user { position:relative; margin-top:60px;}
.select-country-user::before { position:absolute; left:-55px; top:0px; height:30px; line-height:28px; font-size:20px; text-align:center; width:30px; content:"2"; display:block; color:#fff; background:#2e9a8b;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;

}
 
.country-unactive.select-country-user::before {color:#fff; background:#c6c6c6;}
.country-unactive.select-country-user .btn-blue-large { background:#eeeeee; border-bottom:2px solid #eeeeee;}