h2{color: #3e3e3e}
h3{ color: #1a1818;}
#letestnews, #Tabhome, #campaign{ background:#f3f3f3;}
#upevents, #testimonial{ background-color:#fff;}
.heading h2, #letestnews h2, #projectsmain h2, #upevents h2, #testimonial h2{ border-bottom:#e2e2e2 1px solid;}
.heading h2 .strip ,#letestnews h2 .strip, #projectsmain h2 .strip, #upevents h2 .strip, #testimonial h2 .strip{ background:#eb7f0f;} 
#letestnews #newslsidermain li h3{color:#000000}
#upevents .mainheading, #projectsmain p{ color:#757575;}
#upevents .responsive .frstsectn, #upevents .responsive .secndsectn li .numeric , #upevents .responsive .secndsectn ul li .txt{ color:#575757;}
#projectsmain{background: #fff;}
#aboutcsr{background-color:#fafafa;}
#letestnews #newslsidermain li h3 a{ color:#2f3438;}
#testimonial .mainheading, #aboutcsr .aboutcontainer .fltlft p, #aboutcsr .aboutcontainer .fltlft .abtlistsectn ul li{color: #757575;}
#upevents{ border-bottom: solid 1px #dbdbdb; }
#projectsmain .tabbutton li, #aboutcsr, #testimonial .autoplay li .contents{ border:1px solid #cecece;}
