h2, h3{ color:#fff;}
#letestnews, #Tabhome, #upevents, #testimonial{ background:#000;}
#letestnews h2, #projectsmain h2, #upevents h2, #testimonial h2{ border-bottom:#545454 1px solid;}
#letestnews h2 .strip, #projectsmain h2 .strip, #upevents h2 .strip, #testimonial h2 .strip{ background:#eb7f0f;} 
#letestnews #newslsidermain li h3{color:#fff}
#upevents .mainheading, #projectsmain p{ color:#ffffff;}
#upevents .responsive .frstsectn, #upevents .responsive .secndsectn li .numeric , #upevents .responsive .secndsectn ul li .txt{ color:#fff;}
#projectsmain, #aboutcsr{background: #000;}
#letestnews #newslsidermain li h3 a{ color:#fff;}
#testimonial .mainheading, #aboutcsr .aboutcontainer .fltlft p, #aboutcsr .aboutcontainer .fltlft .abtlistsectn ul li  {color: #fff;}
#upevents, #aboutcsr { border-bottom: solid 1px #545454; }
#projectsmain .tabbutton li, #testimonial .autoplay li .contents{ border:solid 1px #545454;}


@media handheld, screen and (max-width: 1023px) {
.nav-item:hover, #navigator > ul > li.active, .topnav ul li:hover{ border-bottom:none;}	
}
/* This Css for Only Header Part*/
header .top, header .access2, header .headerright a{ color:#fff;}
#navigator > ul > li > a, #navigator ul li li a, header .access span a, header .access2 a, header .screen { color:#fff;}
header .main{ background:#000;}
.nav-item:hover, #navigator > ul > li.active, .topnav ul li:hover{ border-bottom:9px solid #fff}
.open > .menu_aberto{ background:#000;}
header .top{ border-bottom:1px solid #545454;}

/*Ragistration Form*/
#form, .innerpage{background: #303030 }
#form .formmain{background-color: #000; -webkit-box-shadow: inset 0 0 0 2px #000; -moz-box-shadow: inset 0 0 0 2px #000; box-shadow: inset 0 0 0 2px #000; border-color:#efefef}
#form .formhead, #form .material-form-2 .title, #form .material-form-2 .radioblock .options > label, #form .labelcheck label, #login p, #form .formtitle, #form .material-form-2 .title span, .innerpage h2, .innerpage p, .material-form-2 label, .material-form-2 input, .material-form-2 textarea, .select-wrapper, .select-wrapper .holder{ color: #fff;}
.material-form-2 input, .material-form-2 textarea, .select-wrapper{background-color:rgba(255, 255, 255, 0.4); border-color:rgba(151, 151, 151, 0.4)}
/*Custom Select Css */
.select-wrapper{ background: url(../image/arrow_select_top.png) no-repeat 95% 50% #666666;}
.select-wrapper:hover, .select-wrapper:focus { background: url(../image/arrow_select_bottom.png) no-repeat scroll 95% 50% #666666; }
.help-block-error{ color:#f44336;}
.errorfild input{ border-color:#f44336}
.buttonblock{border-top-color: #c5c8cc}
.custom-select option, .inputfield .uploadfile, .material-form-2 .uploadfile input{ background:#666666}
#form .material-form-2 .radioblock .options > label::before{ border:1px solid rgba(255, 255, 255, 0.4)}
header .access2 a, header .access2 a:hover, header .access span a, header .access span:hover a, header .access span a:hover, header .access span.active a{ color:#4d4d4d !important}
@media handheld, screen and (min-width: 1023px) {
header .access2 a, header .access2 a:hover, header .access span a, header .access span:hover a, header .access span a:hover, header .access span.active a, header .screen a{color:#fff !important}
}